.warning {
  width: 18px;
  height: 18px;
  display: inline-block;
}

body.vscode-light .warning {
  background: url('./icons/light/status-warning.svg') center center no-repeat;
}

body.vscode-dark .warning {
  background: url('./icons/dark/status-warning-inverse.svg') center center no-repeat;
}

.hidden {
  display: none;
}

.selectFolder {
  display: flex;
}

.folderSettingsLabel {
  padding: 5px;
}

.settingsPathContainer {
  padding: 5px;
  flex: 1;
  border: 1px solid #ddd;
  margin: 0 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}

.settingsTable {
  margin-top: 14px;
  min-width: 820px;
  cursor: default;
}

.settingsTable .headerRow {
  display: flex;
  font-weight: 700;
  height: 30px;
  align-items: center;
}

.settingsTable .headerRow .title {
  flex: 1;
  display: flex;
  justify-content: center;
}

.settingsTable .mappedSettings .settingRow {
  display: flex;
  height: 24px;
  align-items: center;
}

.settingsTable .mappedSettings .settingRow .mappedSetting, .settingsTable .mappedSettings .settingRow .mappedSetting .sublimeSetting, .settingsTable .mappedSettings .settingRow .mappedSetting .vscodeSetting, .settingsTable .mappedSettings .settingRow .mappedSetting .setting-name-value {
  display: flex;
  flex: 1;
}

body.vscode-light .settingsTable .mappedSettings .settingRow:hover {
  background-color: #e8e8e8;
}

body.vscode-dark .settingsTable .mappedSettings .settingRow:hover {
  background-color: #3f3f46;
}

.settingsTable .mappedSettings .settingRow.odd:not(:hover) {
  background-color: hsla(0, 0%, 51%, .04);
}

.settingsTable .mappedSettings .settingRow .matching_setting_checkbox {
  margin-right: 12px;
  vertical-align: middle;
}

.settingsTable .mappedSettings .settingRow .mappedSetting .setting-name-value .setting-name {
  flex: .6;
  text-overflow: ellipsis;
  overflow: hidden;
}

body.vscode-light .settingsTable .mappedSettings .settingRow .mappedSetting .setting-name-value .setting-value {
  color: rgb(108, 108, 108);
}

body.vscode-dark .settingsTable .mappedSettings .settingRow .mappedSetting .setting-name-value .setting-value {
  color: #cccccc;
}

.settingsTable .mappedSettings .settingRow .mappedSetting .setting-name-value .setting-value {
  flex: 0.4;
  text-overflow: ellipsis;
  overflow: hidden;
  font-family: Monaco, Menlo, Consolas, "Droid Sans Mono", Inconsolata, "Courier New", monospace, "Droid Sans Fallback";
  padding-top: 2px;
}

.import-button {
  margin-top: 10px;
  border: none;
}

.import-button:not(.disabled) {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 122, 204);
}

.settingsTable .mappedSettings .settingRow .mappedSetting .setting-name-value .setting-value .warning {
  position: absolute;
}