.duplicate-label {
  margin-left: 1em !important;
}

.hidden {
  display: none !important;
}

.addExtensionButton {
  width: 12em;
}

#show-settings-after-import {
  float: right;
}

.white {
  color: white !important;
}